@import url('https://fonts.googleapis.com/css2?family=Inter&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{

    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #71b1ff;

}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}

.principal{
    background-repeat: no-repeat;
    background-image: url("/assets/img/Background.png");
    background-size: contain;
    align-items: center;
    text-align: center;
    
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
 
.container__botao{
    text-decoration: none;
    border-radius: 8px;
    width: 512px;
    padding: 1em;
    display: block;
    gap: 16px;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    

}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em ;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em 0 10em;
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}


.descricao__texto{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundario);
    opacity: 0.8;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
    width: 135px ;
}

.container__descricao{
    padding: 2em;

}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 68px;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1em;
}

.lista__item{
    font-size: 32px;
    font-weight: 700;
}

.rodape__lista{
  margin-top: 4em;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 16px;
}


.rodape{
    text-align: center;
    margin-top: 10em;
}

.rodape__texto{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin-top: 2em;
}

.link{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--branco-principal);
}

.link:hover{
    color: var(--botao-azul);
    

}

.container__botao:hover{
    background-color:var(--botao-azul-efeito);
    color: var(--cor-fundo);
}
